<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>{{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {{ $screen := resources.Get "css/style.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $screen.Permalink }}" media="screen">
</head>

<body>
  <header>
    {{ if .IsHome }}{{ site.Title }}{{ else }}<a href="/">Accueil / nouvelle recherche</a>{{ end }}
  </header>
  {{ block "main" . }}
  {{ end }}
  {{ block "footer" . }}
  {{ end }}
</body>

{{ if .IsHome}}
{{ $search := resources.Get "js/search.js" | minify | fingerprint }}
{{ $fuse := resources.Get "js/fuse.js" | minify | fingerprint }}
<script src="{{ $search.Permalink }}"></script>
<script src="{{ $fuse.Permalink }}"></script>
{{ end }}
</html>