{{ define "main" }}
<h1>{{ .Title }}</h1>
<p>Actuellement, il y a {{ len .RegularPages }} paroisses disponibles pour le {{ .Title }}.</p>
<ul>
  {{ range .Pages }}
  <li><a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Params.region }} (région: {{.}}){{ end }}</li>
  {{ end }}
</ul>

<h2>Autres cantons</h2>
{{ $current := . }}
<ul>
  {{ range site.Sections }}
  {{ if ne $current .}}
  <li>
    <a href="{{ .Permalink }}">{{ .Title }}</a> ({{ len .RegularPages }} paroisses)
  </li>
  {{ end }}
  {{ end }}
</ul>
{{ end }}