
{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

{{ with .Params.site}}
<p>Site paroissial: <a href="{{ . }}" target="_blank">{{ . }}</a></p>
{{ end }}

{{ with .Params.region }}
<p>Région: {{ . }}.</p>
{{ end }}

{{ with .Params.territoire }}
<h2>Territoire (communes)</h2>
<p>{{ delimit . ", " }}.</p>
{{ end }}


{{ with .Params.NPA }}
<h2>Numéros postaux</h2>
<p>{{ delimit . ", " }}.</p>
{{ end }}

{{ with .Params.meta }}
<h2>Autres critères (villages, hameaux, mots-clés)</h2>
<p>{{ delimit . ", " }}.</p>
{{ end }}

{{ end }}