<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.Title }}</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
</head>

<body>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <table id="example" class="display">
        <thead>
            <th>Nom complet</th>
            <th>Nom court</th>
            <th>Région</th>
            <th>Canton</th>
            <th>Église</th>
            <th>Territoire</th>
            <th>NPA</th>
            <th>Méta</th>
        </thead>  
        <tbody>
            {{ range site.RegularPages }}
            <tr>
                <td>{{ .Title }}</td>
                <td>{{ .Params.name }}</td>
                <td>{{ .Params.region }}</td>
                <td>{{ .Params.canton }}</td>
                <td>{{ .Params.eglise }}</td>
                <td>{{ with .Params.territoire }} {{ delimit . "<br>" }} {{ end }}</td>
                <td>{{ with .Params.NPA }} {{ delimit . "<br>" }} {{ end }}</td>
                <td>{{ with .Params.meta }} {{ delimit . "<br> " }} {{ end }}</td>
            </tr>

            {{ end }}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "paging": false,
                "order": [[ 1, "asc"]]
            });
        });
    </script>
    <style>
        td {
            max-width: 20%;
        }
    </style>
</body>

</html>