{{ $font := resources.Get "/images/inter.otf" }}

{{ $img := resources.Get "/images/opengraph.jpg"}}

{{ $img = $img.Filter (images.Text .Title (dict
    "font" $font
    "size" 80
    "color" "#000"
    "linespacing" 1.2
    "hinting" "full"
    "x" 20
    "y" 150
))}}

{{ $img = $img.Filter (images.Text "ma-paroisse.ch" (dict
    "font" $font
    "size" 40
    "color" "#000"
    "linespacing" 1.2
    "hinting" "full"
    "x" 20
    "y" 550
))}}

<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ $img.Permalink }}"/>
{{- if .IsPage }}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
<meta property="article:section" content="{{ .Section }}" />
{{ with .PublishDate }}<meta property="article:published_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
{{ with .Lastmod }}<meta property="article:modified_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
{{- end -}}

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ $img.Permalink }}">
<meta name="twitter:title" content="{{ .Title }}"/>