RewriteEngine On

RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} !^ma-paroisse\.ch$ [NC]
RewriteRule ^(.*)$ https://ma-paroisse.ch/ [R=301,L]

Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" env=HTTPS
Header always set X-Content-Type-Options "nosniff"
Header always set X-XSS-Protection "1; mode=block"
Header always set Referrer-Policy "no-referrer-when-downgrade"
Header always set X-Frame-Options "DENY"
Header always set Permissions-Policy "interest-cohort=()"

ExpiresActive On
ExpiresDefault "access plus 1 day"

<FilesMatch "^(sitemap\.xml|index\.xml|.*\.json)$">
    Header set X-Robots-Tag "noindex"
    Header set Cache-Control "max-age=86400, public"
</FilesMatch>

<FilesMatch "\.json$">
    Header set Content-Type "application/json;charset=utf-8"
</FilesMatch>

<FilesMatch "\.(css|js|png)$">
    Header set Cache-Control "max-age=63072000, immutable"
</FilesMatch>
